body{
    margin: 0;
    background-color: #070707;
}
#__next{
background-color: #191919;
height: 100vh;
}
.custom-container {
    padding: 2rem 1rem; // Equivalent to `py-4` in Bootstrap
  }

  .form-check-input{
    background-color: rgb(0, 0, 0);
  }